<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <%= image_tag(asset_path("logo.svg"), alt: "logo", height: "200") %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to('Genus', management_genuses_path, class: 'navbar-item') %>
      <%= link_to('Plants', management_plants_path, class: 'navbar-item') %>
      <%= link_to('Species', management_species_index_path, class: 'navbar-item') %>
      <%= link_to(management_record_corrections_path, class: 'navbar-item') do %>
        Corrections
        <span class="tag is-info is-small"><%= RecordCorrection.pending_change_status.count %><span>
      <% end %>
      <%= link_to('Chaos', chaos_management_species_images_path, class: 'navbar-item') %>
      <%= link_to('Queries', management_user_queries_path, class: 'navbar-item') %>
      <%= link_to('Stats', stats_management_user_queries_path, class: 'navbar-item') %>
      <%= link_to('Users', management_users_path, class: 'navbar-item') %>
      <%= link_to('PGhero', management_pg_hero_path, class: 'navbar-item') %>
      <%= link_to('Sidekiq', management_sidekiq_web_path, class: 'navbar-item') %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item" id="admin-search">
      </div>
    </div>
  </div>
</nav>
