<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">

  <title>Trefle Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'manage' %>
</head>

<body>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'manage' %>

  <%= render 'management/layouts/header' %>
  <%= yield %>
  <script>
    var temp_token = "<%= current_user&.token %>";
  </script>

</body>

</html>