<%= form_with(model: subkingdom, local: true) do |form| %>
  <% if subkingdom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subkingdom.errors.count, "error") %> prohibited this subkingdom from being saved:</h2>

      <ul>
      <% subkingdom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :kingdom_id %>
    <%= form.text_field :kingdom_id %>
  </div>

  <div class="field">
    <%= form.label :inserted_at %>
    <%= form.datetime_select :inserted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
