<% cache [:species, :show, :main, @species.cache_key, @species.cache_version] do %>

<section class="section">
  <div class="container">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
      <ul>
        <li><%= @species.plant&.genus && link_to("Genus #{@species.plant&.genus&.name}", management_genuse_path(@species.plant&.genus))|| 'No genus' %></li>
        <li><%= link_to("Plant #{@species.plant.scientific_name}", management_plant_path(@species.plant)) %></li>
        <li class="is-active"><%= @species.plant&.main_species && link_to("Main species #{@species.plant&.main_species&.scientific_name}", management_species_path(@species.plant&.main_species)) || 'No main species' %></li>
      </ul>
    </nav>

    <p id="notice" class="notification is-info"><%= notice %></p>

    <h1 class="title">
      <%= @species.scientific_name %>
      <span class="tag is-info is-light"><%= @species.rank %></span>
      <sup>#<%= @species.id %></sup>
      <%= link_to 'Edit', edit_management_species_path(@species), class: 'button is-pulled-right' %>
    </h1>

    <div class="columns is-desktop">
      <div class="column">
        <h3 class="title is-4">General informations</h3>

        <%= field_desc(@species, :reviewed_at) %>
        <%= field_desc(@species, :images_count) %>
        <%= field_desc(@species, :sources_count) %>
        <%= field_desc(@species, :synonyms_count) %>
        <%= field_desc(@species, :gbif_score) %>

        <%= field_desc(@species, :author) %>
        <%= field_desc(@species, :year) %>
        <%= field_desc(@species, :bibliography) %>
        <%= field_desc(@species, :observations) %>

        <br />
        <h3 class="title is-4">Specifications</h3>

        <%= field_desc(@species, :ligneous_type) %>
        <%= field_desc(@species, :duration, :flags) %>
        <%= field_desc(@species, :growth_form) %>
        <%= field_desc(@species, :growth_habit) %>
        <%= field_desc(@species, :growth_rate) %>
        <%= field_desc(@species, :known_allelopath) %>
        <%= field_desc(@species, :lifespan) %>

        <%= field_desc(@species, :average_height_cm) %>
        <%= field_desc(@species, :maximum_height_cm) %>

        <%= field_desc(@species, :nitrogen_fixation) %>
        <%= field_desc(@species, :shape_and_orientation) %>

        <%= field_desc(@species, :toxicity) %>
        <%= field_desc(@species, :light) %>
        <%= field_desc(@species, :atmospheric_humidity) %>


        <%= field_desc(@species, :growth_months, :flags) %>
        <%= field_desc(@species, :bloom_months, :flags) %>
        <%= field_desc(@species, :fruit_months, :flags) %>

        <br />
        <h3 class="title is-4">Growth</h3>

        <%= field_desc(@species, :planting_description) %>
        <%= field_desc(@species, :planting_sowing_description) %>
        <%= field_desc(@species, :edible_part, :flags) %>
        <%= field_desc(@species, :planting_days_to_harvest) %>
        <%= field_desc(@species, :planting_row_spacing_cm) %>
        <%= field_desc(@species, :planting_spread_cm) %>
        <%= field_desc(@species, :ph_minimum) %>
        <%= field_desc(@species, :ph_maximum) %>
        <%= field_desc(@species, :minimum_temperature_deg_c) %>
        <%= field_desc(@species, :maximum_temperature_deg_c) %>
        <%= field_desc(@species, :minimum_precipitation_mm) %>
        <%= field_desc(@species, :maximum_precipitation_mm) %>
        <%= field_desc(@species, :minimum_root_depth_cm) %>

        <%= field_desc(@species, :soil_nutriments) %>
        <%= field_desc(@species, :soil_salinity) %>
        <%= field_desc(@species, :ground_humidity) %>
        <%= field_desc(@species, :soil_texture) %>
        <%= field_desc(@species, :adapted_to_fine_textured_soils) %>
        <%= field_desc(@species, :adapted_to_medium_textured_soils) %>
        <%= field_desc(@species, :adapted_to_coarse_textured_soils) %>

        <br />
        <h3 class="title is-4">Fruit / Seed</h3>

        <%= field_desc(@species, :fruit_conspicuous) %>
        <%= field_desc(@species, :fruit_seed_persistence) %>
        <%= field_desc(@species, :fruit_shape) %>
        <%= field_desc(@species, :fruit_shape_raw) %>
        <%= field_desc(@species, :fruit_color, :flags) %>

        <br />
        <h3 class="title is-4">Foliage</h3>

        <%= field_desc(@species, :foliage_texture) %>
        <%= field_desc(@species, :leaf_retention) %>
        <%= field_desc(@species, :foliage_color, :flags) %>

        <br />
        <h3 class="title is-4">Flower</h3>

        <%= field_desc(@species, :flower_conspicuous) %>
        <%= field_desc(@species, :flower_color, :flags) %>
        <%= field_desc(@species, :sexuality) %>
        <%= field_desc(@species, :pollinisation) %>
        <%= field_desc(@species, :pollinisation_raw) %>
        <%= field_desc(@species, :maturation_order) %>
        <%= field_desc(@species, :maturation_order_raw) %>
        <%= field_desc(@species, :dissemination) %>
        <%= field_desc(@species, :dissemination_raw) %>
        <%= field_desc(@species, :inflorescence_form) %>
        <%= field_desc(@species, :inflorescence_type) %>
        <%= field_desc(@species, :inflorescence_raw) %>

        <br />
        <h3 class="title is-4">Other</h3>

        <%= field_desc(@species, :common_name) %>
        <%= field_desc(@species, :complete_data) %>
        <%= field_desc(@species, :family_common_name) %>
        <%= field_desc(@species, :anaerobic_tolerance) %>
        <%= field_desc(@species, :biological_type) %>
        <%= field_desc(@species, :biological_type_raw) %>
        <%= field_desc(@species, :c_n_ratio) %>
        <%= field_desc(@species, :caco_3_tolerance) %>
        <%= field_desc(@species, :edible) %>
        <%= field_desc(@species, :foliage_color, :flags) %>
        <%= field_desc(@species, :foliage_texture) %>
        <%= field_desc(@species, :frost_free_days_minimum) %>

        <%= field_desc(@species, :hardiness_zone) %>
        <%= field_desc(@species, :inserted_at) %>
        <%= field_desc(@species, :leaf_retention) %>
        <%
=begin%>
        <%= field_desc(@species, :minimum_planting_density_unit) %>
        <%
=end%>
        <%
=begin%>
        <%= field_desc(@species, :minimum_planting_density_cm) %>
        <%
=end%>
        <%= field_desc(@species, :propagated_by) %>
        <%= field_desc(@species, :protein_potential) %>
        <%= field_desc(@species, :reviewed_at) %>
        <%= field_desc(@species, :status) %>
        <%= field_desc(@species, :vegetable) %>

      </div>
      <div class="column">
        <h3 class="title is-4">Main image</h3>
        <div class="columns is-multiline is-desktop">
          <div class="column">
            <img style="max-width: 128px; max-height: 128px" src="<%= @species.main_image_url %>">
          </div>
        </div>
        <hr />
        <h3 class="title is-4">Sources</h3>
        <ul>
          <% @species&.foreign_sources_plants&.each do |fsp| %>
          <li><b><%= fsp.foreign_source.name %></b>: <%= fsp.fid %> (<a target="_blank" href="<%= fsp.full_url %>"><%= fsp.full_url ? "Source" : 'No url' %></a>)</li>
          <% end %>
        </ul>
        <hr />
        <h3 class="title is-4">Common names</h3>
        <ul>
          <% @species&.common_names.where(lang: %w(fr en))&.group_by(&:lang)&.each do |lang, names| %>
          <li><b><%= lang %></b>: <%= names.pluck(:name).join(', ') %></li>
          <% end %>
        </ul>
        <hr />
        <h3 class="title is-4">Images</h3>

        <% @species&.species_images&.group_by(&:part)&.each do |part, images| %>
        <h3 class="title is-6"><%= images.first.part %></h3>

        <div class="columns is-multiline is-desktop">
          <% images.each do |spi| %>
          <div class="column">
            <img style="max-width: 128px; max-height: 128px" src="<%= spi.image_url %>">
            <%= link_to 'Destroy', [:management, spi], method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: 'button is-danger' %>
            <%= link_to 'As Main', as_main_image_management_species_image_path(spi), method: :patch, remote: true, data: { confirm: 'Are you sure?' }, class: 'button is-success' %>
            <%= link_to 'Others', chaos_management_species_species_images_path(spi.species_id), class: 'button' %>

          </div>
          <% end %>
        </div>
        <% end %>

      </div>
    </div>
    <%= link_to 'Edit', edit_management_species_path(@species) %> |
    <%= link_to 'Back', management_species_index_path %>
  </div>
</section>
<% end %>