<aside class="menu">
    <p class="menu-label"><%= species.scientific_name %></p>
    <ul class="menu-list sticky-menu">
      <li>
        <%= link_to('Informations', explore_species_path(species, anchor: 'specifications'), class: (active == 'informations' ? 'is-active' : '')) %>
        <% if active == 'informations' %>
          <ul>
            <li><%= link_to('Specifications', explore_species_path(species, anchor: 'specifications')) %></li>
            <li><%= link_to('Growing', explore_species_path(species, anchor: 'growth')) %></li>
            <li><%= link_to('Images', explore_species_path(species, anchor: 'images')) %></li>
            <li><%= link_to('Distribution', explore_species_path(species, anchor: 'distribution')) %></li>
            <li><%= link_to('Synonyms', explore_species_path(species, anchor: 'synonyms')) %></li>
          </ul>
        <% end %>
      </li>
      <li>
        <%= link_to(explore_species_record_corrections_path(species, anchor: 'corrections'), class: (active == 'corrections' ? 'is-active' : '')) do %>
          Corrections
          <span class="tag"><%= (defined?(corrections) ? corrections : species.record_corrections)&.length %></span>
        <% end %>
        <% if active == 'corrections' %>
          <ul>
            <% (defined?(corrections) ? corrections : species.record_corrections)&.limit(10).each do |corr| %>
              <li>
                <%= link_to(explore_record_correction_path(corr, anchor: params[:id]), class: (params[:id] == "#{corr.id}" ? 'is-active' : '')) do %>
                  <%= badge_for_correction_status(corr) %> #<%= corr&.id %>
                  <span class=""><%= corr&.user&.name %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    </ul>
    <% if species.foreign_sources.any? %>
      <p class="menu-label">
        Links
      </p>
      <ul class="menu-list">
        <% species.foreign_sources_plants.each do |fsp| %>
          <li>
          <%= link_to(fsp.full_url, target: '_blank', rel: 'noopener') do %>
            <i class="fa fa-external-link"></i>
            See on <%= "#{fsp.foreign_source&.name}" %>
          <% end %>
          </li>
        <% end %>
      </ul> 
    <% end %>
    <% if current_user&.admin %>
      <p class="menu-label">
        Management
      </p>
      <ul class="menu-list">
          <li>
          <%= link_to(management_species_path(species), target: '_blank', rel: 'noopener') do %>
            <i class="fa fa-cog"></i>
            Manage species
          <% end %>
          </li>
          <li>
          <%= link_to(management_plant_path(species.plant), target: '_blank', rel: 'noopener') do %>
            <i class="fa fa-cog"></i>
            Manage plant
          <% end %>
          </li>
      </ul> 
    <% end %>
</aside>
