<aside class="menu">
    <ul class="menu-list sticky-menu">
      <li>
        <%= link_to('Informations', explore_species_path(species, anchor: 'specifications'), class: (active == 'informations' ? 'is-active' : '')) %>
        <% if active == 'informations' %>
          <ul>
            <li><%= link_to('Specifications', explore_species_path(species, anchor: 'specifications')) %></li>
            <li><%= link_to('Growing', explore_species_path(species, anchor: 'growth')) %></li>
            <li><%= link_to('Images', explore_species_path(species, anchor: 'images')) %></li>
            <li><%= link_to('Distribution', explore_species_path(species, anchor: 'distribution')) %></li>
            <li><%= link_to('Synonyms', explore_species_path(species, anchor: 'synonyms')) %></li>
          </ul>
        <% end %>
      </li>
      <li>
        <%= link_to(explore_species_record_corrections_path(species, anchor: 'corrections'), class: (active == 'corrections' ? 'is-active' : '')) do %>
          Corrections
          <span class="tag"><%= (defined?(corrections) ? corrections : species.record_corrections)&.length %></span>
        <% end %>
        <% if active == 'corrections' %>
          <ul>
            <% (defined?(corrections) ? corrections : species.record_corrections)&.limit(10).each do |corr| %>
              <li>
                <%= link_to(explore_record_correction_path(corr, anchor: params[:id]), class: (params[:id] == "#{corr.id}" ? 'is-active' : '')) do %>
                  By <%= corr&.user&.name %> #<%= corr&.id %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>

      </li>
    </ul>
</aside>
