<%= form_with(model: session, local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :started_at %>
    <%= form.datetime_select :started_at %>
  </div>

  <div class="field">
    <%= form.label :ended_at %>
    <%= form.datetime_select :ended_at %>
  </div>

  <div class="field">
    <%= form.label :counters %>
    <%= form.text_field :counters %>
  </div>

  <div class="field">
    <%= form.label :inserted_at %>
    <%= form.datetime_select :inserted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
