<div class="about-page home-page container is-fluid">

  <div class="columns">
    <div class="column is-2"></div>
    <div class="column is-10">
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-1">
              <i class="fad has-text-primary fa-seedling"></i>

              About
            </h1>
            <h2 class="subtitle">
              General informations, privacy and contacts.
            </h2>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="columns">
    <div class="column is-2">
      <br>
      <br>
      <aside class="menu">
        <ul class="menu-list">
          <li><a href="#sources">Data sources</a></li>
          <li><a href="#privacy">Privacy</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#beta-disclaimer">Beta stage</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </aside>
    </div>

    <div class="column is-10">

      <section class="section logo-section" id="about">
        <h4 class="title is-4">
          We deliver all plants informations under an accessible API.
        </h4>
      </section>

      <section class="section content logo-section" id="sources">
        <p class="has-text-centered has-text-grey">Our data is gathered with love from</p>
        <br>
        <div class="has-text-centered">
          <img style="display: inline-block; max-height: 80px; max-width: 100px; padding: 10px; margin: auto" src="<%= asset_pack_path("media/packs/images/medias/usda.svg") %>" alt="">
          <img style="display: inline-block; max-height: 80px; max-width: 100px; padding: 10px; margin: auto" src="<%= asset_pack_path("media/packs/images/medias/tela-botanica.png") %>" alt="">
          <img style="display: inline-block; max-height: 80px; max-width: 100px; padding: 10px; margin: auto" class="spadded" src="<%= asset_pack_path("media/packs/images/medias/tropicos.gif") %>" alt="">
          <img style="display: inline-block; max-height: 80px; max-width: 100px; padding: 10px; margin: auto" src="<%= asset_pack_path("media/packs/images/medias/ipni.png") %>" alt="">
          <img style="display: inline-block; max-height: 80px; max-width: 100px; padding: 10px; margin: auto" class="all-spadded" src="<%= asset_pack_path("media/packs/images/medias/kew.svg") %>" alt="">
          <img style="display: inline-block; max-height: 80px; max-width: 100px; padding: 10px; margin: auto" src="<%= asset_pack_path("media/packs/images/medias/wikimedia.png") %>" alt="">
          <img style="display: inline-block; max-height: 80px; max-width: 100px; padding: 10px; margin: auto" src="<%= asset_pack_path("media/packs/images/medias/muhitnat.png") %>" alt="">  
        </div>
        <p class="has-text-centered has-text-grey">& manually from people all around the world</p>
      </section>

      <!-- <hr> -->
      <section class="section content" id="privacy">
        <h1 class="title is-4 ">
          <i class="fad fa-user-secret has-text-success"></i> (very short) privacy policy
        </h1>
        <p>Trefle.io take your privacy seriously and will take all measures to protect your personal information.</p>
        <p>Any personal information received will only be used to fulfill your order, and may be used for anonymized internal analytical purposes.</p>
        <p>We will not sell or redistribute your information to anyone.</p>
      </section>

      <section class="section content" id="pricing">
        <h1 class="title is-4 ">
          <i class="fad fa-money-bill-wave has-text-success"></i> Pricing
        </h1>
        <p><b>Trefle is currently in beta and still learning how it can be most helpful.</b></p>
        <p>While in beta, <b>Trefle will be free for all</b>. Additionally, Trefle will always be free for open-source individuals, organizations and non-profit communities.</p>
      </section>


      <section class="section content" id="beta-disclaimer">
        <h1 class="title is-4 ">
          <i class="fad fa-flask-potion has-text-success"></i>
          Beta disclaimer
        </h1>
        <p>Trefle is actually in beta stage, which implies that bugs and issues may still remain undiscovered until this phase of testing is complete.</p>
        <p>The beta stage also means that the data may be corrupted, is not 100% validated or complete, and is subject to change.</p>
        <p>Finally, services may have downtime and the API schemas and calls are subject to change.</p>
      </section>
      <hr>
      <section class="section content" id="contact">
        <h1 class="title is-4 ">
          <i class="fad fa-mailbox has-text-success"></i>

          Contact us
        </h1>
        <p>If you have questions, advices, partnerships or if you just want to say hello, please contact us, we'll be our pleasure to reply!</p>

      </section>
      <section class="section content" id="contact">
        <div class="columns">
          <div class="column is-4">
            <a href="mailto:hello@trefle.io">
              <h2 class="title is-5 has-text-centered">Send us a mail</h2>
              <p class="has-text-centered">hello@trefle.io</p>
            </a>
          </div>
          <div class="column is-4">
            <a title="Join us on Discord" href="https://discord.gg/fuamwgk" target="_blank">
              <h2 class="title is-5 has-text-centered">Join us on Discord</h2>
              <p class="has-text-centered">
                <span class="icon" style="color: #7289da;">
                  <i class="fab fa-3x fa-lg fa-discord"></i>
                </span>
              </p>
            </a>
          </div>
          <div class="column is-4">
            <a title="Follow us on Twitter" href="https://twitter.com/trefle_api" target="_blank">
              <h2 class="title is-5 has-text-centered">Follow us on Twitter</h2>
              <p class="has-text-centered">
                <span class="icon" style="color: #55acee;">
                  <i class="fab fa-3x fa-lg fa-twitter"></i>
                </span>
              </p>
            </a>
          </div>
        </div>
      </section>

    </div>
  </div>