<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="#"><%= species.family_name %></a></li>
      <li><%= link_to(species.genus_name, explore_genus_path(species.genus&.slug)) %></li>
      <li><%= link_to(species.scientific_name, explore_species_path(@species, anchor: 'specifications')) %></li>
      <li class="is-active">
        <%= link_to('Corrections', explore_species_record_corrections_path(@species, anchor: 'corrections'), class: 'is-active', 'aria-current' => "page") %>
      </li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column is-3">
      <aside class="species-correction-image" style="background-image: url(<%= species.main_image_url %>)"></aside>
    </div>
    <div class="column is-9">
          <div class="section content">
            <p class="subtitle user-line">
              <%= image_tag correction.user.gravatar_url, class: 'correction-user-image' %>
              <%= correction.user&.name || 'anonymous' %>
              <span class="correction-status-line">
                <span class="<%= class_for_correction_status(correction.change_status) %> is-medium"><%= correction.change_status %></span>
              </span>
            </p>
            <h1 class="title is-1">
              <%= species.scientific_name %>
            </h1>
            <h2 class="subtitle">
              <%= species.common_name || 'No common name' %>
            </h2>
            <p class="subtitle">
              <%= "Correction submitted on #{correction.created_at.to_formatted_s(:short)}" %>
            </p>
          </div>
    </div>
  </div>

  <hr />