<%= form_with(model: genuse, local: true) do |form| %>
  <% if genuse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genuse.errors.count, "error") %> prohibited this genuse from being saved:</h2>

      <ul>
      <% genuse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :family_id %>
    <%= form.text_field :family_id %>
  </div>

  <div class="field">
    <%= form.label :inserted_at %>
    <%= form.datetime_select :inserted_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
