<p id="notice" class="notification is-info"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @species_proposal.year %>
</p>

<p>
  <strong>Bibliography:</strong>
  <%= @species_proposal.bibliography %>
</p>

<p>
  <strong>Author:</strong>
  <%= @species_proposal.author %>
</p>

<p>
  <strong>Scientific name:</strong>
  <%= @species_proposal.scientific_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @species_proposal.status %>
</p>

<p>
  <strong>Fruit conspicuous:</strong>
  <%= @species_proposal.fruit_conspicuous %>
</p>

<p>
  <strong>Coppice potential:</strong>
  <%= @species_proposal.coppice_potential %>
</p>

<p>
  <strong>Fruit seed period end:</strong>
  <%= @species_proposal.fruit_seed_period_end %>
</p>

<p>
  <strong>Resprout ability:</strong>
  <%= @species_proposal.resprout_ability %>
</p>

<p>
  <strong>Propogated by sprigs:</strong>
  <%= @species_proposal.propogated_by_sprigs %>
</p>

<p>
  <strong>Propogated by cuttings:</strong>
  <%= @species_proposal.propogated_by_cuttings %>
</p>

<p>
  <strong>Fodder product:</strong>
  <%= @species_proposal.fodder_product %>
</p>

<p>
  <strong>Precipitation minimum:</strong>
  <%= @species_proposal.precipitation_minimum %>
</p>

<p>
  <strong>Toxicity:</strong>
  <%= @species_proposal.toxicity %>
</p>

<p>
  <strong>Foliage texture:</strong>
  <%= @species_proposal.foliage_texture %>
</p>

<p>
  <strong>Fruit seed abundance:</strong>
  <%= @species_proposal.fruit_seed_abundance %>
</p>

<p>
  <strong>Fire resistance:</strong>
  <%= @species_proposal.fire_resistance %>
</p>

<p>
  <strong>Height at base age max ft:</strong>
  <%= @species_proposal.height_at_base_age_max_ft %>
</p>

<p>
  <strong>Fall conspicuous:</strong>
  <%= @species_proposal.fall_conspicuous %>
</p>

<p>
  <strong>Fire tolerance:</strong>
  <%= @species_proposal.fire_tolerance %>
</p>

<p>
  <strong>Ph minimum:</strong>
  <%= @species_proposal.ph_minimum %>
</p>

<p>
  <strong>Propogated by container:</strong>
  <%= @species_proposal.propogated_by_container %>
</p>

<p>
  <strong>Flower conspicuous:</strong>
  <%= @species_proposal.flower_conspicuous %>
</p>

<p>
  <strong>Native status:</strong>
  <%= @species_proposal.native_status %>
</p>

<p>
  <strong>Fuelwood product:</strong>
  <%= @species_proposal.fuelwood_product %>
</p>

<p>
  <strong>Frost free days minimum:</strong>
  <%= @species_proposal.frost_free_days_minimum %>
</p>

<p>
  <strong>Growth habit:</strong>
  <%= @species_proposal.growth_habit %>
</p>

<p>
  <strong>Protein potential:</strong>
  <%= @species_proposal.protein_potential %>
</p>

<p>
  <strong>Planting density per acre maximum:</strong>
  <%= @species_proposal.planting_density_per_acre_maximum %>
</p>

<p>
  <strong>Root depth minimum inches:</strong>
  <%= @species_proposal.root_depth_minimum_inches %>
</p>

<p>
  <strong>Adapted to medium textured soils:</strong>
  <%= @species_proposal.adapted_to_medium_textured_soils %>
</p>

<p>
  <strong>Growth form:</strong>
  <%= @species_proposal.growth_form %>
</p>

<p>
  <strong>After harvest regrowth rate:</strong>
  <%= @species_proposal.after_harvest_regrowth_rate %>
</p>

<p>
  <strong>Drought tolerance:</strong>
  <%= @species_proposal.drought_tolerance %>
</p>

<p>
  <strong>Salinity tolerance:</strong>
  <%= @species_proposal.salinity_tolerance %>
</p>

<p>
  <strong>Fertility requirement:</strong>
  <%= @species_proposal.fertility_requirement %>
</p>

<p>
  <strong>Foliage color:</strong>
  <%= @species_proposal.foliage_color %>
</p>

<p>
  <strong>Nitrogen fixation:</strong>
  <%= @species_proposal.nitrogen_fixation %>
</p>

<p>
  <strong>Commercial availability:</strong>
  <%= @species_proposal.commercial_availability %>
</p>

<p>
  <strong>Anaerobic tolerance:</strong>
  <%= @species_proposal.anaerobic_tolerance %>
</p>

<p>
  <strong>Lifespan:</strong>
  <%= @species_proposal.lifespan %>
</p>

<p>
  <strong>Veneer product:</strong>
  <%= @species_proposal.veneer_product %>
</p>

<p>
  <strong>Bloat:</strong>
  <%= @species_proposal.bloat %>
</p>

<p>
  <strong>Precipitation maximum:</strong>
  <%= @species_proposal.precipitation_maximum %>
</p>

<p>
  <strong>Planting density per acre minimum:</strong>
  <%= @species_proposal.planting_density_per_acre_minimum %>
</p>

<p>
  <strong>Foliage porosity winter:</strong>
  <%= @species_proposal.foliage_porosity_winter %>
</p>

<p>
  <strong>Height mature ft:</strong>
  <%= @species_proposal.height_mature_ft %>
</p>

<p>
  <strong>Ph maximum:</strong>
  <%= @species_proposal.ph_maximum %>
</p>

<p>
  <strong>Christmas tree product:</strong>
  <%= @species_proposal.christmas_tree_product %>
</p>

<p>
  <strong>Shape and orientation:</strong>
  <%= @species_proposal.shape_and_orientation %>
</p>

<p>
  <strong>Shade tolerance:</strong>
  <%= @species_proposal.shade_tolerance %>
</p>

<p>
  <strong>Usda synonym:</strong>
  <%= @species_proposal.usda_synonym %>
</p>

<p>
  <strong>Pulpwood product:</strong>
  <%= @species_proposal.pulpwood_product %>
</p>

<p>
  <strong>Small grain:</strong>
  <%= @species_proposal.small_grain %>
</p>

<p>
  <strong>Low growing grass:</strong>
  <%= @species_proposal.low_growing_grass %>
</p>

<p>
  <strong>Berry nut seed product:</strong>
  <%= @species_proposal.berry_nut_seed_product %>
</p>

<p>
  <strong>Vegetative spread rate:</strong>
  <%= @species_proposal.vegetative_spread_rate %>
</p>

<p>
  <strong>Propogated by bare root:</strong>
  <%= @species_proposal.propogated_by_bare_root %>
</p>

<p>
  <strong>Propogated by sod:</strong>
  <%= @species_proposal.propogated_by_sod %>
</p>

<p>
  <strong>Fruit seed period begin:</strong>
  <%= @species_proposal.fruit_seed_period_begin %>
</p>

<p>
  <strong>Palatable browse animal:</strong>
  <%= @species_proposal.palatable_browse_animal %>
</p>

<p>
  <strong>Foliage porosity summer:</strong>
  <%= @species_proposal.foliage_porosity_summer %>
</p>

<p>
  <strong>Seeds per pound:</strong>
  <%= @species_proposal.seeds_per_pound %>
</p>

<p>
  <strong>Adapted to fine textured soils:</strong>
  <%= @species_proposal.adapted_to_fine_textured_soils %>
</p>

<p>
  <strong>Hedge tolerance:</strong>
  <%= @species_proposal.hedge_tolerance %>
</p>

<p>
  <strong>Post product:</strong>
  <%= @species_proposal.post_product %>
</p>

<p>
  <strong>Growth rate:</strong>
  <%= @species_proposal.growth_rate %>
</p>

<p>
  <strong>Propogated by seed:</strong>
  <%= @species_proposal.propogated_by_seed %>
</p>

<p>
  <strong>Fruit color:</strong>
  <%= @species_proposal.fruit_color %>
</p>

<p>
  <strong>Nursery stock product:</strong>
  <%= @species_proposal.nursery_stock_product %>
</p>

<p>
  <strong>Seedling vigor:</strong>
  <%= @species_proposal.seedling_vigor %>
</p>

<p>
  <strong>Cold stratification required:</strong>
  <%= @species_proposal.cold_stratification_required %>
</p>

<p>
  <strong>Palatable graze animal:</strong>
  <%= @species_proposal.palatable_graze_animal %>
</p>

<p>
  <strong>Bloom period:</strong>
  <%= @species_proposal.bloom_period %>
</p>

<p>
  <strong>Fruit seed persistence:</strong>
  <%= @species_proposal.fruit_seed_persistence %>
</p>

<p>
  <strong>Propogated by bulbs:</strong>
  <%= @species_proposal.propogated_by_bulbs %>
</p>

<p>
  <strong>Active growth period:</strong>
  <%= @species_proposal.active_growth_period %>
</p>

<p>
  <strong>C n ratio:</strong>
  <%= @species_proposal.c_n_ratio %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @species_proposal.duration %>
</p>

<p>
  <strong>Flower color:</strong>
  <%= @species_proposal.flower_color %>
</p>

<p>
  <strong>Leaf retention:</strong>
  <%= @species_proposal.leaf_retention %>
</p>

<p>
  <strong>Known allelopath:</strong>
  <%= @species_proposal.known_allelopath %>
</p>

<p>
  <strong>Palatable human:</strong>
  <%= @species_proposal.palatable_human %>
</p>

<p>
  <strong>Propogated by tubers:</strong>
  <%= @species_proposal.propogated_by_tubers %>
</p>

<p>
  <strong>Moisture use:</strong>
  <%= @species_proposal.moisture_use %>
</p>

<p>
  <strong>Lumber product:</strong>
  <%= @species_proposal.lumber_product %>
</p>

<p>
  <strong>Adapted to coarse textured soils:</strong>
  <%= @species_proposal.adapted_to_coarse_textured_soils %>
</p>

<p>
  <strong>Propogated by corms:</strong>
  <%= @species_proposal.propogated_by_corms %>
</p>

<p>
  <strong>Temperature minimum deg f:</strong>
  <%= @species_proposal.temperature_minimum_deg_f %>
</p>

<p>
  <strong>Naval store product:</strong>
  <%= @species_proposal.naval_store_product %>
</p>

<p>
  <strong>Seed spread rate:</strong>
  <%= @species_proposal.seed_spread_rate %>
</p>

<p>
  <strong>Caco 3 tolerance:</strong>
  <%= @species_proposal.caco_3_tolerance %>
</p>

<p>
  <strong>Species type:</strong>
  <%= @species_proposal.species_type %>
</p>

<p>
  <strong>Usda name:</strong>
  <%= @species_proposal.usda_name %>
</p>

<p>
  <strong>Family common name:</strong>
  <%= @species_proposal.family_common_name %>
</p>

<p>
  <strong>Common name:</strong>
  <%= @species_proposal.common_name %>
</p>

<p>
  <strong>Complete data:</strong>
  <%= @species_proposal.complete_data %>
</p>

<p>
  <strong>Genus:</strong>
  <%= @species_proposal.genus %>
</p>

<p>
  <strong>User:</strong>
  <%= @species_proposal.user %>
</p>

<p>
  <strong>Inserted at:</strong>
  <%= @species_proposal.inserted_at %>
</p>

<p>
  <strong>Change type:</strong>
  <%= @species_proposal.change_type %>
</p>

<p>
  <strong>Change status:</strong>
  <%= @species_proposal.change_status %>
</p>

<p>
  <strong>Synonym of:</strong>
  <%= @species_proposal.synonym_of %>
</p>

<%= link_to 'Edit', edit_species_proposal_path(@species_proposal) %> |
<%= link_to 'Back', species_proposals_path %>
