<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <h1 class="main-title has-text-centered title is-3">
            Log in
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="login-container-short">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email, class: 'label' %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
    </div>
  </div>


  <div class="field">
    <%= f.label :password, class: 'label' %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>

  <div class="field">
    <div class="control">
      <%= f.label :remember_me, class: 'checkbox' do %>
      <%= f.check_box :remember_me %>
      Remember me
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="columns">
    <div class="column is-10 is-offset-2">
      <div class="field is-grouped is-grouped-right">

        <div class="actions">
          <%= f.submit "Log in", class: "button is-primary" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>