<div class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="<%= root_path %>">
        <%= image_tag(asset_pack_path("media/packs/images/logo.svg"), alt: "logo", height: "200") %>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-trefle">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div id="navbar-trefle" class="navbar-menu">
      <div class="navbar-start">

        <% if user_signed_in? && current_user.admin? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-item <%= active_class_for(active_controller: 'explore/*') %>" href="<%= explore_path %>">
              <i class="fad fa-compass"></i><span> Explore</span>
            </a>

            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="<%= explore_path %>">
                <i class="fad fa-search"></i><span> Search</span>
              </a>
              <a class="navbar-item" href="<%= explore_record_corrections_path(status: :pending) %>">
                <i class="fad fa-clipboard-list-check"></i><span> Corrections</span>
              </a>
              <a class="navbar-item" href="<%= explore_data_path %>">
                <i class="fad fa-database"></i><span> Downloads</span>
              </a>
            </div>
          </div>
        <% end %>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-item " href="https://docs.trefle.io">
            <i class="fad fa-book"></i><span> Documentation</span>
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="https://docs.trefle.io/docs/guides/getting-started">Getting started</a>
            <a class="navbar-item" href="https://docs.trefle.io/reference">Reference</a>
            <a class="navbar-item" href="https://docs.trefle.io/docs/examples/snippets">Snippets</a>
            <a class="navbar-item" href="https://docs.trefle.io/blog/tags/releases">Releases</a>
          </div>
        </div>

        <% if user_signed_in? && current_user.admin? %>
        <a class="navbar-item " href="<%= management_path %>">
          <i class="fad fa-key"></i><span> Management</span>
        </a>
        <% end %>
        
        <a class="navbar-item <%= active_class_for(active_controller: 'home#about') %>" href="<%= about_path %>">
          <i class="fad fa-clipboard-user"></i><span> About</span>
        </a>
      </div>

      <div class="navbar-end">
        <% if user_signed_in? %>
        <a class="navbar-item" title="Account" href="<%= profile_path() %>">
          <%= image_tag current_user.gravatar_url, class: 'user-image' %>
          <%= current_user.name || current_user.email %>
        </a>
        <%
=begin%>
        <a class="navbar-item" title="Correct or add missing data" href="<%= root_path %>">
          <b><i class="far fa-hands-helping"></i> Complete our data</b>
        </a>
        <%
=end%>
        <% else %>
        <a class="navbar-item" title="Sign in" href="<%= new_user_session_path %>">
          Sign in
        </a>
        <%
=begin%>
        <a class="navbar-item" title="Correct or add missing data" href="<%= new_user_session_path %>">
          <b><i class="far fa-hands-helping"></i> Complete our data</b>
        </a>
        <%
=end%>
        <% end %>

        <a class="navbar-item is-hidden-desktop-only" title="Join us on Discord" href="https://discord.gg/fuamwgk" target="_blank">
          <span class="icon" style="color: #7289da;"><i class="fab fa-lg fa-discord"></i></span>
        </a>

        <a class="navbar-item is-hidden-desktop-only" title="Join us on Twitter" href="https://twitter.com/trefle_api" target="_blank" rel="noopener">
          <span class="icon" style="color: #55acee;"><i class="fab fa-lg fa-twitter"></i></span>
        </a>
        <%
=begin%>
 <a class="navbar-item is-hidden-desktop-only" title="Github" href="https://github.com/treflehq/trefle-api" target="_blank" rel="noopener">
          <span class="icon" style="color: #242a2f;"><i class="fab fa-lg fa-github"></i></span>
        </a> 
<%
=end%>
      </div>
    </div>
  </nav>
  <%
=begin%>
 <% if is_explore_namespace? %>
    <hr/>
    <%= render partial: 'explore/layouts/navbar' %>
  <% end %> 
<%
=end%>
</div>
