<!DOCTYPE html>
<html lang="en">

<head>
  <%= display_meta_tags site: 'Trefle' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#41b913">
  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://cdn.rawgit.com">
  <meta name="msapplication-TileColor" content="#41b913">
  <meta name="theme-color" content="#ffffff">
  <meta property="og:image" content="<%= asset_path("logo.svg") %>">
  <meta property="og:image:width" content="279">
  <meta property="og:image:height" content="279">


  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

</head>

<body>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Trefle",
      "url": "https://trefle.io",
      "logo": "<%= asset_path("logo.svg") %>"
    }
  </script>

  <p class="top-notification alert alert-info" role="alert""><%= notice %></p>
  <p class=" top-notification alert alert-danger" role="alert""><%= alert %></p>

  <%= render partial: "layouts/navbar" %>
  <section class=" section">
    <%= yield %>
    </section>
    <%= render partial: "layouts/footer" %>

    <%= javascript_include_tag 'application' %>
    <script src="/fontawesome/js/all.min.js" defer crossorigin="anonymous"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8VL7KHM5CK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8VL7KHM5CK');
    </script>

</body>

</html>
