<section class="section">
  <div class="container">

    <p id="notice" class="notification is-info"><%= notice %></p>

    <h1 class="title">Record corrections</h1>

  </div>
</section>
<section>

  <div class="table-container">

    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th><%= sortable_link(:record_id, :management_record_corrections_path, params) %></th>
          <th><%= sortable_link(:warning_type, :management_record_corrections_path, params) %></th>
          <th><%= sortable_link(:correction_json, :management_record_corrections_path, params) %></th>
          <th><%= sortable_link(:change_notes, :management_record_corrections_path, params) %></th>
          <th><%= sortable_link(:updated_at, :management_record_corrections_path, params) %></th>
          <th><%= sortable_link(:change_status, :management_record_corrections_path, params) %></th>
          <th><%= sortable_link(:change_type, :management_record_corrections_path, params) %></th>
          <th><%= sortable_link(:user_id, :management_record_corrections_path, params) %></th>
          <th><%= sortable_link(:id, :management_record_corrections_path, params) %></th>
          <th colspan=" 3">
          </th>
        </tr>
      </thead>

      <tbody>
        <% @record_corrections.each do |record_correction| %>
        <tr>

          <td>
            <%= link_to 'S', [:management, record_correction] %>
            <%= link_to 'E', edit_management_record_correction_path(record_correction) %>
            <%= link_to 'D', [:management, record_correction], method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>

          <td>
            <%= table_desc(record_correction, :change_status) %>
            <%= table_desc(record_correction, :change_type) %>
            <% if record_correction.pending_change_status? %>
              <%= link_to 'Accept', accept_management_record_correction_path(record_correction), method: :patch, data: { confirm: 'Are you sure?' }, class: 'button' %>
              <%= link_to 'Reject', reject_management_record_correction_path(record_correction), method: :patch, data: { confirm: 'Are you sure?' }, class: 'button' %>
            <% end %>
          </td>
          <td>
            <%= table_desc(record_correction, :record_type) %>
            <%= record_correction.record && link_to((record_correction.record&.scientific_name || record_correction.record&.name), [:management, record_correction.record]) || table_desc(record_correction, :record_id) %>
          </td>
          <td>
            <b><%= record_correction.warning_type %></b>
            <%= table_desc(record_correction, :notes) %>
          </td>
          <td>
            <pre><%= JSON.pretty_generate(JSON.parse(record_correction.correction_json)) %></pre>
          </td>
          <td>
            <pre><%= JSON.pretty_generate(JSON.parse(record_correction.change_notes)) %></pre>
          </td>
          <td>
            <%= table_desc(record_correction, :created_at) %>
            <%= table_desc(record_correction, :updated_at) %>
          </td>
          <td><%= table_desc(record_correction, :change_status) %></td>
          <td><%= table_desc(record_correction, :change_type) %></td>
          <td>
            <%= record_correction.user&.name %>
            <%= record_correction.user&.email %>
          </td>

          <td><%= table_desc(record_correction, :id) %></td>

          <td><%= link_to 'Show', [:management, record_correction] %></td>
          <td><%= link_to 'Edit', edit_management_record_correction_path(record_correction) %></td>
          <td><%= link_to 'Destroy', [:management, record_correction], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<section>
  <div class="container">

    <%== pagy_bulma_nav(@pagy) %>
    <%== pagy_info(@pagy) %>

    <br>

    <%= link_to 'New Record correction', new_management_record_correction_path %>
  </div>
</section>